apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasks-api
  template:
    metadata:
      labels:
        app: tasks-api
    spec:
      containers:
        - name: tasks-api-container
          image: luisferreira23/tasks:latest # Using your DOCKER_REGISTRY value
          ports:
            - containerPort: 5173

          # Inject all configuration variables
          envFrom:
            - configMapRef:
                name: pollex-global-config
            - configMapRef:
                name: tasks-api-config
            - secretRef:
                name: pollex-global-secrets # For POSTGRES_USER/PASSWORD
            - secretRef:
                name: pollex-api-secrets # For SESSION_KEY/JWT

          # Mount the SSL files for the HTTPS server
          volumeMounts:
            - name: ssl-volume
              mountPath: /etc/ssl-volume
              readOnly: true

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi

      volumes:
        - name: ssl-volume
          secret:
            secretName: tasks-api-ssl-secret
            items:
              - key: server.key
                path: server.key # The file will be available at /etc/ssl-volume/server.key
              - key: server.crt
                path: server.crt # The file will be available at /etc/ssl-volume/server.crt
