services:
  mongo:
    image: mongo:6.0-focal
    container_name: mongo-docs
    hostname: ${MONGO_HOSTNAME}
    restart: unless-stopped
    ports:
      - "${DOCS_MONGO_PORT}:${DOCS_MONGO_PORT}"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${DOCS_MONGO_DATABASE}
      - TZ=${TZ}
    volumes:
      - ${DOCS_DATA_PATH}/var/lib/mongodb/docs:/data/db
    networks:
      - pollex-network
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "-u",
          "${MONGO_USER}",
          "-p",
          "${MONGO_PASSWORD}",
          "--authenticationDatabase",
          "admin",
          "--eval",
          "db.runCommand({ ping: 1 })",
          "--quiet",
        ]
      interval: 5s
      timeout: 2s
      retries: 5

  api:
    image: ${DOCKER_REGISTRY}/docs:dev
    pull_policy: never
    container_name: api-docs
    hostname: api
    restart: unless-stopped
    build:
      context: ../../
      dockerfile: ./docker/docs/dockerfile
    ports:
      - "${DOCS_API_PORT}:${DOCS_API_PORT}"
    environment:
      - MONGODB_URL=${MONGODB_URL}
      - MONGODB_DB_NAME=${DOCS_MONGO_DATABASE}
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - pollex-network

networks:
  pollex-network:
    external: true
